# Não farei upload dos arquivos executáveis
bin/
**/bin/
.exe

# Não farei upload das configurações do vscode
.vscode/

# "Gabarito" são os códigos fornecidos pela professora como parte da explanação no laboratório
**/gabarito/

# classes java não devem ser enviadas para o repositório
.class